:root {
  --primary-color: #003366;
  --secondary-color: #8b5e3c;
  --accent1-color: #4caf50;
  --accent2-color: #d1a6d6;
  --nav-background-color: #4caf50;
  --nav-link-color: #4caf50;
  --nav-hover-link-color: #d1a6d6;
  --nav-hover-background-color: #8b5e3c;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #003366;
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1rem 30%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  max-height: 50px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

nav ul li a:hover {
  color: #003366;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-left: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.5rem;
  }

  .logo img {
    max-height: 40px;
  }

  nav ul li {
    margin-top: 0.5rem;
  }

  nav ul li a {
    font-size: 0.9rem;
    cursor: pointer;
  }
}

/* Hero Section Styles */
.hero {
  position: relative;
  text-align: center;
  background-image: url('images/hero-image.jpg');
  background-size: cover;
  background-position: center;
  color: #003366;
  padding: 150px 30px;
}

.hero h1,
.hero h3 {
  color: #fff;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 40px;
}

.hero h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Newsletter Section Styles */
.newsletter {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.newsletter h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #003366;
}

.newsletter form {
  display: inline-block;
  text-align: left;
}

.newsletter label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #003366;
}

.newsletter input {
  display: block;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.newsletter button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #002244;
}

/* Call to Action Section Styles */
.call-to-action {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.call-to-action h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #003366;
}

.call-to-action p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #003366;
}

.call-to-action .btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.call-to-action .btn:hover {
  background-color: #002244;
}

/* Site Info Section Styles */
.site-info {
  padding: 50px 20px;
  background-color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item p {
  margin-top: 10px;
  font-size: 1rem;
  color: #003366;
}

/* Footer Styles */
footer {
  padding: 20px 30px;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sociallinks {
  margin-left: 50px;
}

.sociallinksImage {
  width: 27px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  .sociallinks {
    margin-left: 0;
  }
}
