@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
    --primary-color: #003366; 
    --secondary-color: #8B5E3C; 
    --accent1-color: #4CAF50;
    --accent2-color: #D1A6D6; 
    --nav-background-color: #4CAF50; 
    --nav-link-color: #FFFFFF; 
    --nav-hover-link-color: #D1A6D6;
    --nav-hover-background-color: #8B5E3C; 
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    color: var(--primary-color); /* Ensure body text color has good contrast */
    background-color: #F9F9F9; /* Light background for better readability */
}

.rock-salt-regular {
    font-family: 'Rock Salt', cursive;
    font-weight: 400;
    font-style: normal;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.accent1 {
    color: var(--accent1-color);
}

.accent2 {
    color: var(--accent2-color);
}

nav {
    background-color: var(--nav-background-color);
    padding: 10px;
    display: flex;
    font-size: 1.2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    color: var(--primary-color); /* Ensure text in header has good contrast */
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--primary-color);
    background-color: var(--primary-color);
}
