body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-size: 18px;
}

/* Header Styles */
header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    background-color: var(--primary-color); /* Updated to blue */
    color: white;
    padding: 10px 20px;
}

header .logo {
    grid-column: 1 / 2;    
}

header .logo img {
    max-width: 100px;
}

header nav {
    grid-column: 2 / 3;
    justify-self: end;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
}

header nav a:hover {
    text-decoration: underline;
}

/* Hero Section Styles */
.hero {
    position: relative;
    text-align: center;
    background-color: var(--primary-color); /* Updated to blue */
    color: white;
    padding: 150px 30px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 40px;
}

.hero p {
    font-size: 1.6rem;
}

/* General styles for trips page */
.trip-descriptions {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 40px;
}

.trip {
    border: 3px solid #ddd;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.trip:hover {
    transform: translateY(-10px);
}

.trip img {
    max-width: 100%;
    height: auto;
    display: block;
    border-bottom: 3px solid #ddd;
    border-radius: 16px 16px 0 0;
}

.trip h3 {
    padding: 30px;
    margin: 0;
    font-size: 2.2rem;
    background-color: var(--accent1-color);
    border-bottom: 3px solid #ddd;
    border-radius: 0 0 16px 16px;
}

.trip p {
    padding: 30px;
    margin: 0;
    font-size: 1.8rem;
}

.trip-table {
    margin-top: 60px;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.trip-table th, .trip-table td {
    padding: 30px;
    text-align: center;
    border-bottom: 3px solid #ddd;
    font-size: 2rem;
}

.trip-table th {
    background-color: var(--accent2-color);
}

.trip-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn {
    display: inline-block;
    padding: 20px 40px;
    font-size: 2.2rem;
    background-color: var(--primary-color); /* Updated to blue */
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #002244;
}

/* Footer Styles */
footer {
    padding: 20px 30px;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
}
